<div class="shelf-container">
  <app-book></app-book>
  <app-book name="The Art of War"></app-book>
  <app-book></app-book>
  <app-book></app-book>
  <app-book></app-book>
  <app-book></app-book>
  <app-book></app-book>
  <app-book></app-book>
</div>
